<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>

  <fieldset>
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </fieldset>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn btn-primary' %>
    <%%= link_to t('helpers.link_to.back'), <%= plural_table_name %>_path, :class => 'btn btn-default' %>
  </div>
<%% end %>
