<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-dismissable alert-<%= name == :notice ? "success" : "danger" %>">
          <button type="button" class="close" data-dismiss="alert">&#215;</button>
          <p><%= content_tag :div, msg, :id => "flash_#{name}" %></p>
        </div>
    <% end %>
<% end %>